*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 80px;
}

.logo{
    display: inline;
    color: black;
    border-radius: 3px;
    font-size: 30px;
    background-color: yellow;
    padding: 5px 10px;
}

.link{
    color: white;
    margin: 0 15px;
    font-size: 20px;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 3px;
    transition: 500ms;
}

.link:hover{
    background-color: yellow;
    border-radius: 3px;
    color: black;
}

.noTextDecoration{
    text-decoration: none;
}

@media (max-width: 850px){
    nav{
        padding: 10px 10px;
    }

    .link{
        margin: 0 2px;
    }
}

@media (max-width: 580px){
    nav{
        flex-direction: column;
        height: 120px;
    }

    .link{
        margin: 0 10px;
    }

    .menu{
        margin-top: 10px;
    }
}

@media (max-width: 400px){
    .link{
        margin: 0;
    }
}


